{% extends "authenticated-base.html" %}

{% block external_js %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ url_for('static', path='js/user_app.js')}}"></script>
{% endblock %}

{% block sidebar %}

<h5>Campus Eats</h5>
<div id="panel-content">
    <p class="text">Click on a marker to view a food place.</p>
</div>
{% endblock %}

{% block subpage_content %}

<div id="map" style="height: 700px; border-radius: 10px;"></div>

{% endblock %}